body {
    background-color: rgb(162, 229, 212);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    height: 20px;
    width: max-content;
    margin: auto;
}

a {
    text-decoration: none;
}

a:hover {
    transform: scale(1.05);
}

button {
    background-color: white;
    height: 30px;
    border: solid 2px rgba(0, 0, 0, 0);
    box-shadow: -2px 2px 1px black;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(162, 229, 212);
    border: solid 2px black;
    transition-duration: 100ms;
    transform: scale(1.05);
}

form {
    display: grid;
    grid-template-rows: repeat(1fr);
    justify-items: stretch;
    padding: 0 10%;
    width: 80%;
    margin-bottom: 20px;
}

input {
    height: 30px;
    font-size: 18px;
}

textarea {
    height: 90px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    font-size: 16px;
    height: 26px;
}

label {
    font-size: 16px;
    width: max-content;
    border-bottom: solid 1px black;
    margin: 3px 0;
    padding: 1px;
}

#overhead {
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 11;
}

#userButtons {
    width: max-content;
    height: min-content;
    position: fixed;
    top: 93px;
    right: 15px;
    z-index: 10;
}

#userButtons button {
    background-color: yellow;
    height: 40px;
    border: none;
    border-bottom: solid 2px black;
    border-radius: 0 0 10px 10px;
    box-shadow: none;
}

#navigation {
    background-color: plum;
    display: grid;
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    width: 180px;
    overflow-y: scroll;
}

#navigation::-webkit-scrollbar {
    display: none;
}

#currentView {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 180px;
    overflow-y: scroll;
}

#currentView::-webkit-scrollbar {
    display: none;
}

#navButtons {
    display: grid;
    grid-template-rows: repeat(1fr);
}

.navBut {
    background-color: plum;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    border-right: solid 2px black;
    box-shadow: none;
}

.formContainer {
    background-color: bisque;
    width: 500px;
    position: fixed;
    border-radius: 5px;
    box-shadow: -2px 2px 2px 1px black;
    top: 250px;
    left: 30%;
    z-index: 9;
}

.editFormContainer {
    background-color: bisque;
    width: 500px;
    position: static;
    left: 20%;
}

.formTitle {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(220, 83, 124);
    border-radius: 0 0 5px 5px;
    margin-bottom: 5px;
}

.submitBut {
    margin: 10px auto 5px auto;
    width: 80px;
}

.cancelBut {
    margin: auto 12% 10px auto;
    display: flex;
    justify-content: end;
}

#login, #signup {
    position: static;
    margin: 30px auto 0 auto;
    height: min-content;
}

#getInForms {
    display: grid;
    grid-template-rows: 5fr 1fr 9fr;
    margin: auto;
    width: 600px;
}

.or {
    background-color: rgb(220, 83, 124);
    color: white;
    font-size: 30px;
    height: 50px;
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2px auto 0 0;
    border: solid 4px black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: -2px 2px black;
}

#bigOr {
    margin: 2px auto 0 auto;
}