body {
    background-color: rgb(162, 229, 212);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    height: 20px;
    width: max-content;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transform: scale(1.05);
    box-shadow: -2x 2px 3px ;
}

button {
    background-color: white;
    height: 30px;
    border: solid 2px rgba(0, 0, 0, 0);
    box-shadow: -2px 2px 1px black;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(162, 229, 212);
    border: solid 2px black;
    transition-duration: 100ms;
    transform: scale(1.05);
}

form {
    display: grid;
    grid-template-rows: repeat(1fr);
    justify-items: stretch;
    padding: 0 10%;
    width: 80%;
    margin-bottom: 20px;
}

input {
    height: 30px;
    font-size: 18px;
}

textarea {
    height: 90px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    font-size: 16px;
    height: 26px;
}

label {
    font-size: 16px;
    width: max-content;
    border-bottom: solid 1px black;
    margin: 3px 0;
    padding: 1px;
}

#overhead {
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 11;
}

#userButtons {
    width: max-content;
    height: min-content;
    position: fixed;
    top: 93px;
    right: 15px;
    z-index: 10;
}

#userButtons button {
    background-color: yellow;
    height: 40px;
    border: none;
    border-bottom: solid 2px black;
    border-radius: 0 0 10px 10px;
    box-shadow: none;
}

#navigation {
    background-color: plum;
    display: grid;
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    width: 180px;
    overflow-y: scroll;
    scrollbar-width: none;
}

#navigation::-webkit-scrollbar {
    display: none;
}

#currentView {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 180px;
    width: 90%;
    overflow-y: scroll;
    scrollbar-width: none;
}

#currentView::-webkit-scrollbar {
    display: none;
}

#navButtons {
    display: grid;
    grid-template-rows: repeat(1fr);
}

.navBut {
    background-color: plum;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    border-right: solid 2px black;
    box-shadow: none;
}

.formContainer, .editFormContainer {
    background-color: bisque;
    width: 500px;
    position: fixed;
    border-radius: 5px;
    box-shadow: -2px 2px 2px 1px black;
    top: 250px;
    left: 30%;
    z-index: 9;
}

.editFormContainer {
    border: dashed 2px black;
}

.formTitle {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(220, 83, 124);
    border-radius: 0 0 5px 5px;
    margin-bottom: 5px;
}

.submitBut {
    margin: 10px auto 5px auto;
    width: 80px;
}

.cancelBut {
    margin: auto 12% 10px auto;
    display: flex;
    justify-content: flex-end;
}

#login, #signup {
    position: static;
    margin: 30px auto 0 auto;
    height: min-content;
}

#getInForms {
    display: grid;
    grid-template-rows: 5fr 1fr 9fr;
    margin: auto;
    width: 600px;
}

.or {
    background-color: rgb(220, 83, 124);
    color: white;
    font-size: 30px;
    height: 50px;
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2px auto 0 0;
    border: solid 4px black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: -2px 2px black;
}

#bigOr {
    margin: 2px auto 0 auto;
}

#usersContainer {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    width: 90%;
    margin: auto;
}

.userCard {
    max-width: 800px;
    min-width: 300px;
    height: min-content;
    background-color: pink;
    border: solid black 2px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items:flex-start;
}

.userTitle {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    text-align: center;
    justify-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.userName {
    font-size: 40px;
    background-color: brown;
    padding-right: 10px;
    padding-left: 10px;
    width: max-content;
    height: max-content;
    border-radius: 0 0 5px 5px;
}

.userGroup {
    font-size: 20px;
}

.userPlants, .userArticles {
    background-color: rgba(153, 232, 169, 0.77);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    border: solid 2px rgb(255, 255, 255);
    padding: 10px;
}

.userPlantTiles, .userArticleTiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
}

.userArticles button {
    width: 80%;
    box-shadow: none;
    height: fit-content;
    margin: 0 auto 10px auto;
}

.userButton {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.oneUserCard {
    width: 60%;
    margin: 40px auto 0 auto;
}

.oneUserTitle {
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-rows: 50% 10% 10%;
    margin-top: -40px;
    display: grid;
    justify-items: center;
}

#articleList {
    display: grid;
    grid-template-columns:  1fr 1fr;
    width: 90%;
    margin: 0 auto 20px;
}

.articleCard {
    background-color: rgb(224, 104, 67);
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    row-gap: 10px;
    width: 80%;
    max-width: 600px;
    border: solid 2px black;
    margin: 40px 10% 0 9%;
}

.articleTitle {
    width: max-content;
    height: 60px;
    margin:  0 auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: slateblue;
    border-radius: 0 0 5px 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.articleContents {
    font-size: 17px;
    background-color: rgba(225, 247, 26, 0.455);
    padding: 5px;
    margin: 0 auto 10px;
    width: 90%;
}

.articleBody {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    padding: 5px 0;
}

.voteButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;    
}

.voteButtons button {
    width: 40%;
}

.articleEditButton {
    width: max-content;
    margin: auto;
}

.editExitButtons {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(220, 83, 124);
    width: 70%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px 5px 0 0;
    margin: auto;
}

.delete {
    background-color: rgb(205, 62, 0);
    color: white;
    font-weight: bolder;
    border: solid 3px rgba(255, 255, 255, 0);
}

.delete:hover {
    background-color: red;
    border: solid 3px yellow;
}

.returnButton {
    width: max-content;
    margin-left: 10%;
    margin-bottom: 20px;
}

#newGroupButton {
    width: max-content;
    margin: -40px auto 20px 15%;
}

#groups {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 10px;
    margin: 10px auto 0;
    width: 90%;
}

.groupCard {
    width: 90%;
    min-width: 380px;
    background-color: firebrick;
    border: solid 2px black;
    border-radius: 4px;
}

.groupTitle {
    width: max-content;
    margin: auto;
    padding: 10px;
    padding-right: 10px;
    font-size: 28px;
    background-color: rgb(144, 144, 214);
    border-radius: 0 0 5px 5px;
}

.groupContents {
    display: grid;
    grid-template-rows: 10fr 9fr;
    font-size: 20px;
    width: 70%;
    margin: auto;
}

.groupCreator{
    border: solid white 2px;
    width: max-content;
    background-color: rgb(144, 144, 214);
    border-radius: 2px;
    padding-left: 40px;
    padding-right: 15px;
    font-weight: 500;
}

.groupDesc {
    padding: 10px;
    padding-left: 50px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.254);
}

.groupList {
    width: 60%;
    margin: 0 auto 5px;
    background-color: rgba(255, 255, 255, 0.332);
    padding: 10px;
}

.groupMembers {
    font-size: 14px;
}

.groupMembers:hover, .groupCreator:hover {
    padding-left: 20px;
    box-shadow: -2x 2px 3px black;
    transition-duration: 500ms;
}

.joinButton {
    width: 100px;
}

.groupJoinButton {
    width: 30%;
    margin: 10px auto 10px;
}

#homeGroup {
    max-width: 600px;
    margin: 20px auto;
}

#homePlants {
    width: 500px;
    margin: 20px auto auto 20%;
}

#homeAddPlants {
    margin-top: 20px;
    margin-left: 80%;
}

.viewName {
    position: fixed;
    left: 55px;
}

.articlesPage {
    top: 87%;
}

.pfPage {
    top: 67%
}

.plantsPage {
    top: 51%
}

.groupsPage {
    top: 33%;
}

.usersPage {
    top: 15%;
}

.likeBox {
    margin: 10px;
}

#cuDislikes, #cuLikes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 450px;
    column-gap: 50px;
    margin: 10px auto 10px auto;
}

.dislikeArticleButton {
    height: 60px;
    width: 200px;
}

#dislikeTitle, #likeTitle {
    width: 300px;
    margin:  20px auto 20px 20px;
    text-align: center;
    padding-top: 13px;
    font-size: 24px;
}

#dislikeTitle {
    color: rgb(97, 30, 30);
    text-shadow: -1px 1px 1px white;
    border-bottom: solid 2px black;
}

#likeTitle {
    color: rgb(244, 204, 59);
    text-shadow: -1px 1px 1px black;
    border-bottom: solid 2px white;
}

.cuName {
    color: white;
    background-color: rgba(201, 186, 90, 0.438);
    padding-left: 5px;
    padding-right: 5px;
    width: max-content;
    border: solid 2px white;
}

#homeContent {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr
}

#plantsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
}